<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>org.fcitx.Fcitx5ConfigTool</string>
  <key>CFBundleName</key>
  <string>Fcitx5Config</string>
  <key>CFBundleDisplayName</key>
  <string>Fcitx5</string>
  <key>CFBundleIconFile</key>
  <string>fcitx.icns</string>
</dict>
</plist>
